<!--
 * @Author: shasha0102 970284297@qq.com
 * @Date: 2025-12-13 15:48:46
 * @LastEditors: shasha0102 970284297@qq.com
 * @LastEditTime: 2025-12-13 15:55:16
 * @FilePath: /koa/AI-BFF/views/index.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/umd-react@19.2.1/dist/react.production.min.js"></script>
  <script src="https://unpkg.com/umd-react@19.2.1/dist/react-dom.production.min.js"></script>
  <script src="https://unpkg.com/@remix-run/router@1.21.0/dist/router.umd.min.js"></script>
  <script src="https://unpkg.com/react-router@6.28.0/dist/umd/react-router.production.min.js"></script>
  <script src="https://unpkg.com/react-router-dom@6.28.0/dist/umd/react-router-dom.production.min.js"></script>
  <title>Document</title>
  <script defer="defer" src="/scripts/main.f1275.bundle.js"></script>
  <link href="/styles/main.52893.css" rel="stylesheet" />
</head>

<body>
  HI <span>
    <%= data %>
  </span>
  <div id="app"></div>
</body>

</html>